/* .carre {
    height: 200px;
    width: 200px;
    background-color: red;
}

.carrebleu {
    height: 200px;
    width: 200px;
    background-color: blue;
}

p:hover {
    color: crimson;

}

#paragraphcache {
    display: none;
}

#nombre {
    color: red;
    font-size: 50px;
    border: 1px solid blue;
} */
